    <div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="border border-secondary" width="200" src="https://vignette.wikia.nocookie.net/mitologa/images/a/a3/Imagen_por_defecto.png/revision/latest?cb=20150824230838&path-prefix=es" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Label(LabelType.DefaultGray, "$24.9")
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Label(LabelType.DefaultGray, "Proover Title")
        </div>
    </div>
   


    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Paragraph("______________________________________\n" +
                               "______________________________________\n" +
                               "______________________________________\n" +
                               "______________________________________")

        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Label(LabelType.DefaultGray, "Check items:")
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Checkbox("Check item 1")
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Checkbox("Check item 2")
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Checkbox("Check item 3")
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            @Bootstrap.Button(ButtonType.PrimaryBlue, "Buy now")
        </div>
    </div>
</div>




