    <div class="container">

    <div class="row">
        <div class="col-md-5">
            @Bootstrap.H1("Confirmation")
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
            @Bootstrap.H1("Cart")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Bootstrap.Label(LabelType.DefaultGray, "Product One")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "1 item")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "$10.00")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Bootstrap.Label(LabelType.DefaultGray, "Product Two")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "2 item")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "$20.00")
        </div>
    </div>

   <div class="row">
        <div class="col-md-3">
            @Bootstrap.H1("Studing Info")
        </div>
        <div class="col-md-3">
            @Bootstrap.H1("Edit")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Bootstrap.Label(LabelType.DefaultGray, "Address")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "One way Road, 365")
        </div>

    </div>

    <div class="row">
        <div class="col-md-1">
            @Bootstrap.Radio(1, "Express")
        </div>
        <div class="col-md-2">
            @Bootstrap.Label(LabelType.DefaultGray, "Delivery")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "5-6 Days")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "$10")
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            @Bootstrap.Radio(1, "Free")
        </div>
        <div class="col-md-2">
            @Bootstrap.Label(LabelType.DefaultGray, "Delivery")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "1-2 Weeks")
        </div>
        <div class="col-md-1">
            @Bootstrap.Label(LabelType.DefaultGray, "$0")
        </div>
    </div>







