    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <h1>Sign Up Login </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto">
                @Bootstrap.Label(LabelType.DefaultGray, "Name")
                @Bootstrap.Input()
            </div>
            <div class="col-md-auto">
                @Bootstrap.Label(LabelType.DefaultGray, "Last Name")
                @Bootstrap.Input()
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                @Bootstrap.Label(LabelType.DefaultGray, "Phone")
                @Bootstrap.Input()
             </div>

             <div class="col-md-auto">
                    @Bootstrap.Label(LabelType.DefaultGray, "E-mail")
                    @Bootstrap.Input()
               </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                @Bootstrap.Label(LabelType.DefaultGray, "Password")
                @Bootstrap.Input()
            </div>
            <div class="col-md-auto">
                @Bootstrap.Label(LabelType.DefaultGray, "Confirm Password")
                @Bootstrap.Input()
            </div>
        </div>
        <div class="row">
            <img class="octicon octicon-alert"></img>hola
            <div class="col-md-auto">
                @Bootstrap.Checkbox("I agree to Terms and Conditions")
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                @Bootstrap.Button(ButtonType.PrimaryBlue, "SIGN UP")
            </div>
        </div>
    </div>




